@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;400&display=swap');


/* Give headers playfair font */
h1 {
    font-family: 'Spartan', sans-serif;
    color: #16617a;
}


:root {
    --sidebar-background-color: #eaf9f5; /* Make sidebar blue */
}


h2 {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #444;
    text-transform: uppercase;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #16617a;
}


a {
    color: #095a95;
}

a:hover {
    text-decoration: underline dotted;
}


.aside ul {
    padding-left: 0.2rem;
}

.decorator::after {
    background-color: #23a0ab;
}


b::title {
    color: #16617a;
    font-weight: 600;
}


p::title {
    text-align: justify;
}

.aside i::before {
    padding: 0.5em;
}

/* Add a bit of margin between tags. Long selector to have higher priority. */
.level3.blocks .details .tags span {
    margin-right: 8px;
}

/* 1st version for "chips" (tags): rounded chip, grey background, no border. */
.chip1 {
    display: inline-block;
    padding: 0 10px;
    height: 1.25em;
    border-radius: 25px;
    background-color: #f1f1f1;
}

/* 2nd version for "chips" (tags): rounded, no background, grey border. */
.chip2 {
    display: inline-block;
    padding: 0 10px 15px;
    height: 1.25em;
    border-radius: 25px;
    border-color: #b7b7b7;
    border-style: solid;
    border-width: 1px;
}

/* 3rd version for "chips" (tags): rectangular, grey background, no border. */
.chip3 {
    display: inline-block;
    padding: 0 5px;
    height: 1.25em;
    background-color: #f1f1f1;
}
